<% @genevarecords.each do |record| %>

    <div class="container-fluid record-div">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-inverse">
              <tr>
                <th><%= record.created_at.strftime("%B %d %Y") %></th>
                <th>Opening Guage</th>
                <th>Opening Stock</th>
                <th>Closing Guage</th>
                <th>Closing Stock</th>
                <th>Stock Change</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">GV-01</th>
                <td><%= record.GV_01_open_gauge %></td>
                <td><%= record.GV_01_open_stock %></td>
                <td><%= record.GV_01_close_gauge %></td>
                <td><%= record.GV_01_close_stock %></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr />
<% end %>
<%= paginate @genevarecords %>