<div class="container-fluid @genevarecord-div">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-condensed ">
            <thead class="thead-inverse">

              <tr>
                <th><%= @genevarecord.created_at.strftime("%B %d, %Y") %></th>
                <th>Opening Guage</th>
                <th>Opening Stock</th>
                <th>Closing Guage</th>
                <th>Closing Stock</th>
                <th>Stock Change</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">GV-01</th>
                <td><%= @genevarecord.GV_01_open_gauge %></td>
                <td><%= @genevarecord.GV_01_open_stock %></td>
                <td><%= @genevarecord.GV_01_close_gauge %></td>
                <td><%= @genevarecord.GV_01_close_stock %></td>
                <td><%= @genevarecord.GV_01_close_stock - @genevarecord.GV_01_open_stock %></td>
              </tr>
              <tr>
                <th scope="row">GV-02</th>
                <td><%= @genevarecord.GV_02_open_gauge %></td>
                <td><%= @genevarecord.GV_02_open_stock %></td>
                <td><%= @genevarecord.GV_02_close_gauge %></td>
                <td><%= @genevarecord.GV_02_close_stock %></td>
                <td><%= @genevarecord.GV_02_close_stock - @genevarecord.GV_02_open_stock %></td>
              </tr>
              <tr>
                <th scope="row">GV-03</th>
                <td><%= @genevarecord.GV_03_open_gauge %></td>
                <td><%= @genevarecord.GV_03_open_stock %></td>
                <td><%= @genevarecord.GV_03_close_gauge %></td>
                <td><%= @genevarecord.GV_03_close_stock %></td>
                <td><%= @genevarecord.GV_03_close_stock - @genevarecord.GV_03_open_stock %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= link_to 'Edit', edit_geneva_record_path(@genevarecord), class: 'btn btn-primary btn-block' %>

    <hr />